/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #fff;
  color: #000;
  line-height: 1.6;
}

/* Header Section */
.header {
  background: #991f1f;
  color: #fff;
  padding: 30px 40px;
  position: relative;
}
.header .logo img {
  width: 80px;
  margin-bottom: 15px;
}
.header .main-title {
  font-size: 48px;
  font-weight: bold;
}
.header .subtitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  margin-top:  1px;
}
.header .description {
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 800px;
}
.header .corner-cut {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 60px solid white;
  border-left: 40px solid transparent;
}

/* Content Section */
.content {
  padding: 50px;
}
.section {
  margin-bottom: 60px;
  text-align: left;
}
.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  display: inline-flex; 
  align-items: center;
  gap: 12px;
  text-transform: uppercase;

}
/* Left side red triangle image */
.section-title img {
  width: 25px;
  height: 25px;
}

/* Row of clubs */
.row {
  display: flex;
  justify-content: center; 
  gap: 40px;
  flex-wrap: wrap;
}
.col {
  text-align: center;
}
.club-logo {
  width: 100px;
  margin-bottom: 10px;
}
.club-text {
  font-size: 14px;
  line-height: 1.4;
}
.red-text {
  color: #b61c1c;
  font-weight: bold;
}
.black-text {
  color: #000;
  font-weight: bold;
}


/* Footer Section */
.footer {
  background: #991f1f;
  color: #fff;
  padding: 40px;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  position: relative;
  line-height: 1.4;
  text-transform: uppercase;
}
.footer .corner-cut {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100px;
  border-color: transparent transparent white transparent;
}
